SHAPE_DESC=NxRUN_COUNT

# Declare an empty array to store all combinations
SHAPE=()

if [ "${MODE}" == "Benchmark" ]; then
  RUN_COUNT=100  # 假设RUN_COUNT为固定数值

  for N in $(seq 65536 65536 4194304); do
        # Add the generated combinations to the SHAPE array
        SHAPE+=("${N}x${RUN_COUNT}")
  done
else
    SHAPE+=(1048576x100)
fi


# Output the contents of the array to verify whether the storage is successful (optional)
# echo "${SHAPE[@]}"

# echo ${#SHAPE[@]}