SHAPE_DESC=MxNxKxRUN_COUNT

#!/bin/bash

# Declare an empty array to store all combinations
SHAPE=()

if [ "${MODE}" == "Benchmark" ]; then
  RUN_COUNT=10  # 假设RUN_COUNT为固定数值

  for M in $(seq 256 256 1024); do
    for N in $(seq 256 256 1024); do
      for K in $(seq 128 128 1024); do
        # Add the generated combinations to the SHAPE array
        SHAPE+=("${M}x${N}x${K}x${RUN_COUNT}")
      done
    done
  done
else
    SHAPE+=(256x512x256x10)
fi

# Output the contents of the array to verify whether the storage is successful (optional)
# echo "${SHAPE[@]}"
#
# echo ${#SHAPE[@]}
